* {box-sizing: border-box}

/*Button used to open the form, fixed at the bottom of the page*/
.openBtn {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
}

/*Pop-up form styles*/
.stickyPopup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}

/*Adding styles to form container*/
.formContainer {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}

/*Full-width input fields*/
.formContainer input[type=text],
.formContainer input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

/*When inputs get focus, do this*/
.formContainer .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
}

/*Add a red background to cancel*/
.formContainer .cancel {
    background-color: red;
}

/*Hover effects for buttons*/
.formContainer .btn:hover,
.openBtn:hover {
    opacity: 1;
}

.stickyDiv {
    position: -webkit-sticky;
    position: sticky;
}

.bodyFill1 {
    height: 600px;
    background-color: greenyellow;
}

.bodyFill2 {
    background-color:aqua;
    height: 600px;
}

.bodyFill3 {
    background-color: lightsalmon;
    height: 600px;
}